DirectoryIndex index.html index.php

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    Options +SymLinksIfOwnerMatch
    RewriteEngine On

    # Gérer le header d'authentification (Crucial pour ton X-AUTH-TOKEN)
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]


    # Si l'URL commence par /api, c'est pour le Back-end (Symfony)
    RewriteCond %{REQUEST_URI} ^/api [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # ----------------------------------------------------------------------

    # On redirige vers index.html pour que ton Router.js intercepte la route
    RewriteCond %{REQUEST_URI} !^/api [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]

</IfModule>

<IfModule !mod_rewrite.c>
<IfModule mod_alias.c>
RedirectMatch 307 ^/$ /index.html
</IfModule>
</IfModule>
