<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # 1. Si la requête demande une vraie route d'API Symfony, on ne touche à rien
    RewriteCond %{REQUEST_URI} ^/api
    RewriteRule ^(.*)$ index.php [QSA,L]

    # 2. Si l'utilisateur demande un vrai fichier existant (comme une image, du CSS, ou un script JS)
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # ...alors on renvoie tout vers index.html
    RewriteRule . /index.html [L]

</IfModule>
