<Files "index.html">
    SetHandler default-handler
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteRule ^$ index.html [L]
    RewriteRule ^api(/.*)?$ index.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule \.(js|css|png|jpg|jpeg|gif|svg|ico|json|html|txt|webmanifest)$ - [L]

    RewriteRule ^(.*)$ index.html [L]
</IfModule>