<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Si le fichier ou le dossier demandé n'existe pas réellement...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # ...alors on renvoie tout vers index.html
    RewriteRule . /index.html [L]
</IfModule>